* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #fff;
}

.container {
    background-color: #000;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    padding: 70px 0;
    align-items: center;
    position: absolute;
    top: -50%;
    transform: translate(0, 100%);
}

button {
    width: 90px;
    height: 30px;
    border: none;
    font-size: 18px;
    background-color: #fff;
    border-radius: 15px;
    margin-left: 10px;
}

.date {
    margin-top: 20px;
}